@import 'nib/vendor'

vendor-prefixes = o ms mz webkit official

body
	background linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
	#contenedor
		background linear-gradient(45deg, #ffffff 0%,#e5e5e5 100%)
		margin 0 auto
		width 1100px
		padding .5em 3em
		border-radius 20px		
		border 1px solid black
		.muestra_tabla
			overflow auto
			height 250px
	footer
		padding 4em 2em
		background-color black
		color white
		font-size 12px
		text-weight bolder
		margin-top 2em
	header
		padding 1em 3em
		background linear-gradient(-45deg, #a9db80 0%, #96c56f 100%)
		margin-bottom .7em
		h1
			a
				text-decoration none
	table
		background-color white
		width 100%
		text-align center
		tr
			td
				border 1px solid black
.nombre_dato
	background-color black
	color white
.valor_dato
	background-color white
	color red
	font-weight bolder				
.waiting
	background-color white
	color red
	border 3px solid black
	padding 2em
	border-radius 20px
	